footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    height: 30vh;
    align-items: first baseline;
    margin-left: 50px;

    h4 {
        padding-bottom: 20px;
    }

    nav {
        li {
            list-style: none;
            color: #2D2D2D;
            font-weight: 300;
            padding: 5px;
        }
    }

}

.pagamento {
    h4 {
        display: flex;
        justify-content: center;
        align-items: initial;
        width: 30vw;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    figure {
        display: flex;
        justify-content: center;
        align-items: initial;
        width: 30vw;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        img {
            width: 10%;
            height: auto;
        }
    }
}

.redes {
    figure {
        width: 30vw;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}